<div class='container' id="about-page">

  <div class="row well">

    <div class='col-md-3'>
      <a href='zoe'>
        <div class='jumbotron' id='zoe-jumbotron'>
          <h2>Zoe</h2>
        </div>
      </a>
    </div>

  </div>

 </div>