<div class="container">
  <h1 id="main-title">Accio Bike</h1>
</div>

<%= render "partials/home/bike" %>

<div class='container' id='frontpage-text'>
   <p>
       Bike theft happens far too often in Seattle.
   </p>
    <p>
        You'd be hard pressed to find someone who hasn't been affected by it.
   </p>
    <p>
        Accio Bike is named after the spell from "Harry Potter" that fetches and returns objects. Create a user profile and register your bikes. If your bike goes missing, update your bike's profile. Other users will be able to keep an eye out or return your bike if found. In addition, Accio Bike crawls Craigslist for bikes matching you listing in case your thief is trying to flip your bike for quick cash.
   </p>
</div>
