body {
    overflow: auto;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    background: #97ccf1;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

/* Bike SVG CSS*/
.wrapper {
    width: 50%;
    margin: 50px auto;
    cursor: pointer;
    transition: transform 3s ease-out;
}

.bike {
    width: 100%;
}

.wheel {
    transform-origin: 50% 50%;
}

.chain {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 5;
    stroke-dashoffset: 5;
}

/* Text Content Styles */

#main-title {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    font-size: 60px;

}

#frontpage-text {
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    color: white;
}

.bikeForm {
    text-align: left;

}

.photoInput {
    text-align: center;
}

#contact-owner {
    padding-right: 20px;
    text-align: center;
}

.page-heading {
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 20px;
}

/* Styles for forms */

.form-section {
    width: 50%;
    padding-bottom: 30px;

}

/* Styles for user profile page */

.user-bikes {
    /*border: 2px solid #66CCFF;*/
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    text-align: left;
}

/* Styles for the About page */

#about-page {
    margin: 0 auto;
}

.jumbotron {
    height: 200px;
    width: 200px;
    text-align: center;
    color: #ffffff;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20px;
    text-shadow: 1px 1px black;
}

#zoe-jumbotron {
    background-image: url('http://res.cloudinary.com/dto1eenjq/image/upload/v1473372079/zoepic_cgmcdl.jpg');
}
